Complaint Routing.json
{
  "name": "Complaint Routing",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -128
      ],
      "id": "e3cd0db4-66b4-4e39-b4e9-18a96b7649c6",
      "name": "Telegram Trigger",
      "webhookId": "60c3588b-6bed-4116-8f35-0c941b5102fa",
      "credentials": {
        "telegramApi": {
          "id": "q3uYdsyPax0OhdLC",
          "name": "DMartSupport"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Complaint Routing Assistant for DMart. You Should Generate and summarize the answer only from the given context.\nIf context is irrelevant to the question, You should say, Sorry ! I can't find relevant information from the knowledge base. Don't provide any additional information\nYou should not generate or interpret any response from your knowledge"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -176,
        -128
      ],
      "id": "63fe6a1a-f3d6-4a3a-943b-f22c8fb616fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        80
      ],
      "id": "ba7b1130-a69d-47e0-bc67-d1838c195988",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        80
      ],
      "id": "bcf13d28-489f-4040-89e2-5dc779feeb13",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -128
      ],
      "id": "f9085047-bb2c-4e72-9619-e5fd0310bd81",
      "name": "Send a text message",
      "webhookId": "2828ecde-6f87-43eb-9311-84bc8fcbe656",
      "credentials": {
        "telegramApi": {
          "id": "q3uYdsyPax0OhdLC",
          "name": "DMartSupport"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "complaints-index",
          "mode": "list",
          "cachedResultName": "complaints-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        144
      ],
      "id": "131ffe44-8cf4-4bc8-8014-88824bbef7c7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HJfU8QhvcYWXxFTa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        240
      ],
      "id": "acc317d4-2140-40a5-8a1f-0cf0b7f88b7a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "794cebcb-f848-4872-a9d3-ef6756613bb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19adec0e7b270696b0e6d84175df1adb04b1257fd15041e5e9881651daa931c2"
  },
  "id": "MTRHQIWcZSGOABpZ",
  "tags": []
}